:root {
  font-family: "Roboto";
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../Fonts/Roboto/Roboto-Light.ttf);
}

.background-container {
  background: url(../Images/Photo/background\ 1.png) no-repeat center/cover;
  padding: 46px 0 15px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1025px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  display: flex;
  color: #ffffff;
  text-decoration: none;
  background: url(../Images/Icon/logo_wite.png) no-repeat;
}

.header__logo-image-container {
  width: 53px;
  height: 47px;
}

.header__logo-link:hover {
  background: url(../Images/Icon/logo_red.png) no-repeat;
  color: #f26522;
}

.header__logo-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  font-weight: 700;
  height: 50px;
}

.header__logo-name p:first-child {
  font-size: 29px;
  line-height: 29px;
}

.header__logo-name p:last-child {
  font-size: 18px;
  line-height: 18px;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 61px;
}

.header__contacts-email,
.header__contacts-phone {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.header__contacts-email:hover {
  color: #f26522;
}

.header__contacts-phone:hover {
  color: #f26522;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 62px;
  row-gap: 37px;
  margin-top: 17px;
}

.main__tours-image-link {
  position: relative;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  padding-top: 240px;
}

.main__tours-image-link:nth-child(1) {
  background: url(../Images/Photo/image_1.png) no-repeat;
}

.main__tours-image-link:nth-child(2) {
  background: url(../Images/Photo/image_2.png) no-repeat;
}

.main__tours-image-link:nth-child(3) {
  background: url(../Images/Photo/image_3.png) no-repeat;
}

.main__tours-image-link:nth-child(4) {
  background: url(../Images/Photo/image_4.png) no-repeat;
}

.main__tours-image-link:nth-child(5) {
  background: url(../Images/Photo/image_5.png) no-repeat;
}

.main__tours-image-link:nth-child(6) {
  background: url(../Images/Photo/image_6.png) no-repeat;
}

.main__offer-container {
  position: absolute;
  top: 166px;
  left: 0;
  width: 301px;
  height: 55px;
  padding: 7px 16px;
  background: #f26522;
  text-align: left;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  display: none;
}

.main__tours-image-link:hover .main__offer-container {
  display: block;
  color: #ffffff;
}

.main__tours-image-link:hover {
  color: #f26522;
}

.main__offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  margin-top: 8px;
}

.main__offer-about:after {
  content: "›";
  font-size: 30px;
  padding-left: 16px;
  vertical-align: baseline;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 49px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
}
